# .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp
*.DS_Store
*.ncrunch*
.idea/

# NuGet
*.nupkg
packages/
project.lock.json

# Test results
TestResults/
coverage/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*

# Docker
.env

# Rider / JetBrains
*.iml
.idea/
